 .u-section-1 {
  min-height: 718px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-1 .u-image-1 {
  min-height: 718px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("assets.image/d2cc3eaa/88834/images/rtrtrtrt.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 718px;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.4375rem;
  margin: 90px 21px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 70px 11px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 11px -11px 0 11px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 11px -11px 0 11px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 822px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 480px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 822px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-4 {
    padding-left: 15px;
    font-style: normal;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 748px;
  }

  .u-section-1 .u-image-1 {
    min-height: 630px;
    order: 1;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 250px;
    padding-left: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 586px;
  }

  .u-section-1 .u-image-1 {
    min-height: 473px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 80px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 19px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 406px;
  }

  .u-section-1 .u-image-1 {
    min-height: 298px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 50px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 712px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 14px 376px 0 31px;
}

.u-section-2 .u-form-1 {
  height: 574px;
  margin: 14px 453px 14px 85px;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  font-weight: 700;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 207px;
    margin-left: 0;
  }

  .u-section-2 .u-form-1 {
    width: 570px;
    margin-left: 0;
    margin-right: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    margin-right: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}